# ℹ️ Stop the editor from looking for .editorconfig files in the parent directories
root = true

[*]
# ℹ️ Which line break format should be used at the ends of lines?
end_of_line = lf

# ℹ️ Should a new blank line be created after the last line?
insert_final_newline = true

# ℹ️ What is the preferred character encoding for files?
charset = utf-8

# ℹ️ Trimming of trailing spaces?
trim_trailing_whitespace = true

# ℹ️ What is the preferred indent style?
indent_style = space

# ℹ️ What is the preferred indent size?
indent_size = 2

# ℹ️ What is the maximum character limit allowed in a single line?
max_line_length = 120
